<div class="bookstrap visible-print-block">
  <div class="top">
    <p class="title">
      <strong>Title:</strong> <span class="value">{{item.title}}</span>
    </p>

    <p class="author">
      <strong>Author:</strong> <span class="value">{{item.author}}</span>
    </p>

    <p class="barcode pull-left">
      <span class="id">{{id}}</span>
    </p>

    <div class="clearfix"></div>

    <p class="patron">
      <strong>Patron:</strong> <span class="value">{{patron.name}}</span>
    </p>

    <p class="due_date">
      <strong>Due Date:</strong> <span class="value">{{dueDate}}</span>
    </p>

    <div class="renew {{#if canRenew}}can-renew{{/if}}">
      <p class="can-renew-message">
        <span>You <strong>may</strong> be able to renew this item.<br/>
          Request a renewal at <a>{{renewal.link}}</a><br/>
          <strong>no later than</strong> {{renewal.dueDate}}</span>
      </p>
      <p class="cant-renew-message">
        <span>No renewals</span>
      </p>
    </div>
  </div>

  <div class="middle">
    <p class="return_to">
      <strong>Patron, please return book to:</strong><br/>
      {{#if borrower.logo}}<img class="logo" src="{{borrower.logo}}" alt="">{{/if}}
      <span class="value">{{#if borrower.name}}{{borrower.name}}<br/>{{/if}}
        {{borrower.host}} ({{borrower.oclcSymbol}})</span>
    </p>
  </div>

  <div class="bottom">
    <p class="loan_from">
      <strong>An Interlibrary Loan from:</strong><br/>
      {{#if lender.logo}}<img class="logo" src="{{lender.logo}}" alt="">{{/if}}
      <span class="value">{{#if lender.name}}{{lender.name}}<br/>{{/if}}
        {{lender.host}} ({{lender.oclcSymbol}})</span>
    </p>
  </div>
</div>
